.table {
    width: 700px;
    margin: 40px auto;
    border-collapse: collapse;
    font-family: sans-serif;
}
.table tr,
.table td,
.table th {
    border: 1px solid gray;
    text-align: center;
}
.table td,
.table th {
    padding: 5px;
}
thead tr:first-of-type {
    background: rgb(255, 205, 230);
}
.vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 8px;
}